
<div class="container">
    <div class="alert" [hidden]='haserrorMsg'>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{errorMsg}}
      </div> 
    <div>
        
    
    <form id='frame1' class='frame1' [formGroup]="loginForm">
        <h1>LOGIN</h1>
        <div class="radio">
            <input class="radio-input" type="radio" name="type" value="admin" id="Admin" (change)="clearErrorMessage()" formControlName="type" >
            <label class="radio-label" for="Admin">Administrator</label>
            <input class="radio-input" type="radio" name="type" value="member" id="Member" (change)="clearErrorMessage()" formControlName="type" >
            <label class="radio-label" for="Member">Member</label>
        </div>
            <input id='username' class='form-control' type='text' placeholder='User Name' formControlName="name" (change)="clearErrorMessage()" />
            <input id='password' class='form-control' type='password' placeholder='Password' formControlName="password" (change)="clearErrorMessage()" />
            
            <button type="button"  class='rectangle4' (click)="submit()">LOGIN</button>
            <div class="signup">
                <p>No Account ? <a routerLink="/Signup">SignUp</a></p>
               </div>
            
        </form>
    </div>
        
</div>
