
<div class="container">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        This is an alert box.
      </div> 
    <div>
        
    
    <form id='frame1' class='frame1'>
        <h1>LOGIN</h1>
        <div class="radio">
            <input class="radio-input" type="radio" name="account" value="admin" id="Admin" checked>
            <label class="radio-label" for="Admin">Administrator</label>
            <input class="radio-input" type="radio" name="account" value="member" id="Member">
            <label class="radio-label" for="Member">Member</label>
        </div>
            <input id='username' class='form-control' type='text' placeholder='User Name'  />
            <input id='password' class='form-control' type='password' placeholder='Password'  />
            
            <button id='rectangle4' class='rectangle4'>LOGIN</button>
            <div class="signup">
                <p>No Account ? <a routerLink="/Signup">SignUp</a></p>
               </div>
            
        </form>
    </div>
        
</div>
