
@media only screen and (max-width:600px) {

    .container{
        
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        
        
        padding: 1px 2% 15% 2%;
    }

    .section{
        padding-left: 40px;
        text-align: center;
        padding-top: 10px;
    }
    
    
    

}
@media only screen and (max-width: 990px) and (min-width: 590px)  {

    .container{
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        padding-top: 1px;
        align-content: center;
        
    }
    .section{
        padding-left: 40px;
        text-align: center;
        padding-top: 10px;
    }
    
}
@media only screen and (min-width:990px) {
 
.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;

    padding: 10% 2% 0 2%;
    
    height: 430px;
}
.section{
    padding-top: 10%;
    
}


}


h1{

    color:white;
    font-size:3em;
    font-weight:700;
    text-align:left;
    width:100%;
}
p{
    color:white;
    text-align:left;
    

}
.section{
    
    
    width: 35%;
    text-align: center;
    margin: 1em;
    min-width: 400px;
    
    
}
.section-form{
    padding: 1em;
    width: 35%;
    min-width: 400px;
    align-content:center;
    margin: 2em;
    
    

}

.free-trail{
    background-color:hsl(248, 32%, 49%);
    min-width: 350px;
    width:100%;
    height: 50px;
    color:white;
    align-self: center;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-size:15px;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.322);




}
.free-trail:hover{
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.322);
}



form{
min-width:350px;
background-color: white;
min-height: 412px;
max-height:fit-content;
width:100%;
align-self: center;
padding-top: 13px;
text-align: center;
border-radius: 10px;
font-size: 400;
margin-bottom: 27px;

box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.322);



}

.form-control{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 8%;
    margin-top: 25px;
    margin-bottom: 5px;
    height: 30px;
    width: 80%;
    
   
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding:5px 0 5px 25px ;
   
    font-weight: 700;

   
}

.form-group{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
    
}


input:focus {
    outline: none;
    border: 2px solid hsl(248, 32%, 49%);
    
}
.submit-button {
    
    background-color: hsl(154, 59%, 51%);
    
    margin-bottom: 20px;
    height: 45px;
    width: 86%;
    border-radius: 5px;
    border:none;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    cursor:pointer;
    
}

.submit-button:hover{
    box-shadow: 0 0px 2px 0px hsl(154, 59%, 51%);
}

label{
    text-align-last: right;
   padding-right: 30px;
   padding-top: 75px;
   margin-bottom:25px;
    font-size: 10px;
    font-weight: 600;
    color:hsl(0, 100%, 74%) ;
    font-style: italic;
    position:absolute;
    align-self:flex-end;
    
    
    
}
.input-icon{
  display: flex;
  align-items: center;
  position: relative;

}

span{
    position: absolute;
    right:10%;
    bottom: 10px;
}
.bottom-term{
    color:  hsl(246, 25%, 77%);
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    
}

.bottom-term-bold{
    color:hsl(0, 100%, 74%) ;
    
    
    
}

.form-control.ng-touched.ng-invalid{
    
    border:2px solid hsl(0, 100%, 74%) ;
    color:red;
    
    
}
