$redColor:hsl(0, 100%, 74%) ;
$blueColor:hsl(248, 32%, 49%);
$greenColor:hsl(154, 59%, 51%);




@media only screen and (max-width:500px) {

    .container{
        max-width:10em;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        
        
        padding: 1px 1% 15% 25%;
    }

    .section h1{
        
        max-width:70%;
        text-align: center;
        margin-left:2em;
        padding:10px 0px 0px 40px ;
    }

    

    form{
        max-width:5em;
        margin-left:2.6em;
    }

    .free-trail{
        max-width:2em;
        justify-content:center;
        margin-left:2em;
        
    }
    
    
    

}
@media only screen and (max-width: 990px) and (min-width: 600px)  {

    .container{
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        padding-top: 1px;
        align-content: center;
        
    }
    .section{
        padding-left: 40px;
        text-align: center;
        padding-top: 10px;
    }
    
}
@media only screen and (min-width:990px) {
 
.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;

    padding: 10% 2% 0 2%;
    
    height: 430px;
}
.section{
    padding-top: 10%;
    
}


}


h1{

    color:white;
    font-size:2em;
    font-weight:700;
    text-align:left;
    width:100%;
}

.section{
    
    
    width: 35%;
    text-align: center;
    margin: 1em;
    min-width: 400px;
    
    
}
.section-form{
    padding: 1em;
    width: 35%;
    min-width: 400px;
    align-content:center;
    margin: 2em;
    
    

}

.free-trail{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:$blueColor;
    min-width: 350px;
    width:95%;
    height: 35px;
    color:white;
    
    text-align:left;
    border-radius: 10px;
    font-size:15px;
    padding: 7px 0 10px 20px;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.322);




}

.free-trail a{
    align-self:center;
    margin-right: 1em;
    font-size: larger;
    text-decoration:none;
    
    color: rgba(249, 246, 246, 0.632);
    
}
.free-trail a:hover{
   color:white;
   text-decoration: underline;
}



form{
min-width:350px;
background-color: white;
min-height: 412px;
max-height:fit-content;
width:100%;
align-self: center;
padding-top: 13px;
text-align: center;
border-radius: 10px;
font-size: 400;
margin-bottom: 27px;

box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.322);



}

.form-control{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 8%;
    margin-top: 25px;
    margin-bottom: 5px;
    height: 30px;
    width: 80%;
    
    
   
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding:5px 0 5px 25px ;
   
    font-weight: 700;

   
}

.form-group{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
    
}


input:focus {
    outline: none;
    border: 2px solid $blueColor;
    
}
.submit-button {
    
    background-color: $greenColor;
    height: 45px;
    width: 86%;
    border-radius: 5px;
    border:none;
    font-weight: 700;
    color: white;
    margin:20px 0 20px 10px;
    cursor:pointer;
    
}

.submit-button:hover{
    box-shadow: 0 0px 2px 0px $greenColor;
}

label{
    text-align-last: right;
   padding-right: 30px;
   padding-top: 75px;
   margin-bottom:25px;
    font-size: 10px;
    font-weight: 600;
    color:hsl(0, 100%, 74%) ;
    font-style: italic;
    position:absolute;
    align-self:flex-end;
    
    
    
}
.input-icon{
  display: flex;
  align-items: center;
  position: relative;

}

span{
    position: absolute;
    right:10%;
    bottom: 10px;
}
.bottom-term{
    color:  hsl(246, 25%, 77%);
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    
}

.bottom-term-bold{
    color:$redColor ;
    
    
    
}

.form-control.ng-touched.ng-invalid{
    
    border:2px solid $redColor ;
    color:$redColor;
    
    
}

.form-group-type{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
select{
    margin: 10px;
    max-width: 60%;
    height:30px;
    font-size: 15px;
    background-color: rgba(10, 10, 255, 0.849);
    border-radius: 5px;
   border: none;
   color: white;
   text-align: center;
}
.form-control-select.ng-touched.ng-invalid{
    background-color: $redColor;
    
}
