body {
    background: rgba(17, 30, 139, 0.4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip.tooltip {
    background-color: rgba(0, 0, 255, 0.758);
    font-size: 16px;
}