#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 16px solid #0f037d2d;
  border-radius: 50%;
  border-top: 16px solid #0f037d;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {

  #loading {

    left: 60%;

  }

  .row-card {
    align-items: center;
    margin-left: auto;
  }



  .container {
    margin-left: 10%;
  }

  .row-searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 1.5em;
    padding-right: 2em;
  }

  .searchbar {
    min-width: 200px;


  }

  .select-region {
    min-width: 200px;

    margin-bottom: 15px;
  }

  .button-logout {
    margin-right: 25%;

  }

}

@media screen and (min-width:700px) and (max-width:1023px) {
  .row-card {
    align-items: center;
    margin-left: auto;
  }



  .container {
    margin-left: 10%;
  }

  .row-searchbar {
    display: inline-flex;

    align-content: center;

  }

  .button-logout {
    margin-left: 33%;
  }
}

@media screen and (min-width:1024px) {
  .button-logout {
    margin-top: 20px;
    margin-left: 30%;
  }
}





.select-region {
  background-color: aliceblue;
  max-height: 50px;
  margin: 8px 0 0 15px;

}

::ng-deep.mat-select-arrow {
  display: none;
}





.container {
  padding: 35px 5%;

}

.row-card {
  margin: 0 -5px;
}


.row-card:after {
  content: "";
  display: table;
  clear: both;

}



.row-searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

}

.searchbar {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 50px;
  margin: 8px 0 25px 15px;
}





.button-logout {
  width: 100px;

  height: 40px;

}