<div class="container">
  <div [hidden]="loadSpinner" class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>

  <div class="row-searchbar">

    <input matInput class="searchbar" type="text" aria-label="searchbar" placeholder="Search..." name="searchString"
      (keyup)="filterBySearch($event)" [disabled]="isDisable">

    <mat-select class="select-region" [(value)]="selectedValue" aria-label="select"
      (selectionChange)="filterBySelect(selectedValue)" [disabled]="isDisable">
      <mat-option *ngFor="let reg of regionSearch" value="{{reg.val}}">{{reg.name}}</mat-option>
    </mat-select>
    <button mat-raised-button color="warn" class="button-logout" aria-label="logout-button"
      (click)="logoutClick()">Logout</button>

  </div>
  <div [hidden]="isDisable" class="row-card">
    <pm-country-card [countryData]="countryFetchBySearch"></pm-country-card>


  </div>

</div>