<div>
    <div class="title-bar">
        <h2>{{countryData[0].name.common}}</h2>
    </div>
    <div class="container">
        <div class="lef-section">
            <div>
                <img class="country-image" src="{{countryData[0].flags.png}}">
            </div>
            <div>
                <ul class="button-list">
                    <li class="span"><a href="/home">Home</a>
                    </li>
                    <li class="span" *ngFor="let option of optionList" (click)="checkButtonStatus(option.value)">
                        {{option.name}}
                    </li>

                    <li class="span span-back" (click)="returnToLogIn()">Logout</li>
                </ul>

            </div>
        </div>

        <!--Right Section-->

        <div class="right-section">

            <div class="information">
                <legend>Information</legend>
                <div class="info-row">
                    <table>
                        <thead>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Name</td>
                                <td aria-label="name" contenteditable='isEditable'>{{countryData[0].name.common}}
                                </td>
                            </tr>
                            <tr>
                                <td>Official Name</td>
                                <td aria-label="official name" contenteditable='isEditable'>
                                    {{countryData[0].name.official}}
                                </td>
                            </tr>
                            <tr>
                                <td>Code</td>
                                <td aria-label="Code" contenteditable='isEditable'>{{countryData[0].cca3}}
                                </td>
                            </tr>
                            <tr>
                                <td>Capital</td>
                                <td aria-label="capital name" contenteditable='isEditable'>{{countryData[0].capital}}
                                </td>
                            </tr>
                            <tr>
                                <td>Region</td>
                                <td aria-label="Region" contenteditable='isEditable'>{{countryData[0].region}}</td>
                            </tr>
                            <tr>
                                <td>SubRegion</td>
                                <td aria-label="SubRegion" contenteditable='isEditable'>{{countryData[0].subregion}}
                                </td>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td aria-label="Area">{{countryData[0].area}} KM</td>
                            </tr>
                            <tr>
                                <td>Population</td>
                                <td aria-label="population">{{countryData[0].population}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div><br></div>
                <div class="map">

                    <legend>Location</legend>
                    <a href="{{countryData[0].maps.googleMaps}}" target="_blank">{{countryData[0].maps.googleMaps}}</a>

                </div>
                <div><br></div>

                <!-- list of border countries -->

                <div class="border-country" *ngIf="countryData[0].borders">
                    <legend>Border Countries</legend>
                    <ul class="border">
                        <li class="border-list" aria-label="border countries"
                            *ngFor="let borderCode of countryData[0].borders"
                            (click)="getDetailsOfBorderCountry(borderCode)"
                            (mouseenter)="getNameOfBorderCountry(borderCode)" matTooltipClass="tooltip"
                            matTooltip={{borderCountryName}} matTooltipPosition="below">
                            {{borderCode}}</li>
                    </ul>





                </div>

                <div><br></div>
            </div>


        </div>
    </div>